[Unit]
Description=matrixon Matrix NextServer
After=network.target

[Service]
DynamicUser=yes
User=_matrix-matrixon
Group=_matrix-matrixon
Type=simple

AmbientCapabilities=
CapabilityBoundingSet=
LockPersonality=yes
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectSystem=strict
PrivateDevices=yes
PrivateMounts=yes
PrivateTmp=yes
PrivateUsers=yes
RemoveIPC=yes
RestrictAddressFamilies=AF_INET AF_INET6
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallErrorNumber=EPERM
StateDirectory=matrix-matrixon

Environment="matrixon_CONFIG=/etc/matrix-matrixon/matrixon.toml"

ExecStart=/usr/sbin/matrix-matrixon
Restart=on-failure
RestartSec=10
StartLimitInterval=1m
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
